<div class="mx-0">
	<form [formGroup]="reactiveForm" #form="ngForm" (ngSubmit)="onSubmit()">
		<div>
			<label for="chartname">Chart Name</label>
			<input class="form-control form-control-sm h-50" formControlName="name" type="text" name="name"
				id="chartname" [readonly]="!isObjectEmpty(responseData)"/>
		</div>
		<div>
			<label for="charttype">Chart Type</label>
			<select class="form-select form-select-sm h-50" name="type" 
				formControlName="type" aria-label="Default select example">
				<option value="CombineChart" selected>Combine Chart</option>
				<option value="lineChart">Line Chart</option>
				<option value="barChart">Bar Chart</option>
				<!-- <option value="WaterfallChart">Waterfall Chart</option>
				<option value="Table">Table</option> -->
			</select>
		</div>
		<div>
			<label for="xaxis">X axis</label>
			<select class="form-select form-select-sm h-50" name="xaxis" 
				formControlName="xaxis" aria-label="Default select example">
				<option value="years" selected>Years</option>
				<option value="months">Months</option>
				<option value="date">Date</option>
			</select>
		</div>
		<div>
			<label for="chartname">Chart Title</label>
			<input class="form-control form-control-sm h-50" formControlName="title" type="text" name="chartname"
				id="chartname" />
		</div>
		<div class="" *ngIf="isObjectEmpty(responseData)">
			<button type="submit" class="btn btn-primary btn-sm mt-2">Build Chart</button>
		</div>
		<div class="" *ngIf="!isObjectEmpty(responseData)">
			<button type="button" class="btn btn-primary btn-sm mt-2" (click)="onUpdate()">Update Chart</button>
		</div>
	</form>
</div>
