<div class="chart-container" style="position: relative; height:70vh; width:65vw" [ngClass]="{'d-none': previewTable}">
  <canvas id="mychart" #mychart></canvas>
</div>
<div class="chart-container" style="position: relative; height:70vh; width:65vw" *ngIf="previewTable">
  <div class="col-8 gx-1">
    <table class="table table-bordered" style="min-height: 200px;color:#556;">
      <tr class="table-primary">
        <th *ngFor="let item of chartdata[tempIndex]?.data?.labels">{{item}}</th>
      </tr>
      <tr *ngFor="let user of chartdata[tempIndex]?.data?.datasets[0]?.data">
        <th>{{user?.id}}</th>
        <td>{{user?.name}}</td>
        <td>{{user?.email}}</td>
        <td>{{user?.phone}}</td>
      </tr>
    </table>
  </div>
</div>